.idea
.vscode
.vs
bin
obj
Source/9_Resources/AssetBundles/asset_bundle.manifest
Source/9_Resources/AssetBundles/asset_bundle_2019
Source/9_Resources/AssetBundles/asset_bundle_2019.manifest
Source/9_Resources/AssetBundles/AssetBundles
Source/9_Resources/AssetBundles/AssetBundles.manifest
*.DotSettings
*.DotSettings.user

*.local
*.local.*

*.user

AGENTS.override.md
